In [1]:
import geopandas as gpd
from src import Config
from src.infra.persistence.context import create_duckdb_context

In [2]:
RELEASE = "2025-10-25.2"
part_0 = f"az://raw/osm/release/{RELEASE}/theme=buildings/region=46/part_00000.parquet"
part_1 = f"az://raw/osm/release/{RELEASE}/theme=buildings/region=46/part_00001.parquet"
parquet_paths: list[str] = [part_0, part_1]

### View data using GeoPandas

In [3]:
gdf_part_0 = gpd.read_parquet(
    part_0,
    storage_options={
        "connection_string": Config.BLOB_STORAGE_CONNECTION_STRING
    }
)

gdf_part_1 = gpd.read_parquet(
    part_1,
    storage_options={
        "connection_string": Config.BLOB_STORAGE_CONNECTION_STRING
    }
)

In [4]:
gdf_part_0.head()

,type,ref:bygningsnr,id,geometry,theme,region
0,warehouse,173892403,8292478,"MULTIPOLYGON (((5.25761 59.81987, 5.25774 59.8...",buildings,46
1,cabin,17874764,8295912,"MULTIPOLYGON (((5.26926 59.52207, 5.26937 59.5...",buildings,46
2,cabin,9609636,8295920,"MULTIPOLYGON (((5.26944 59.5217, 5.26948 59.52...",buildings,46
3,unspecified,None,8331410,"MULTIPOLYGON (((5.01778 60.81271, 5.01825 60.8...",buildings,46
4,unspecified,None,8331414,"MULTIPOLYGON (((5.01786 60.81342, 5.01872 60.8...",buildings,46

In [5]:
gdf_part_1.head()

,type,ref:bygningsnr,id,geometry,theme,region
0,cabin,175821082,1899639020,"MULTIPOLYGON (((6.01193 60.55379, 6.01201 60.5...",buildings,46
1,house,175817085,1899639022,"MULTIPOLYGON (((5.82983 60.58963, 5.82984 60.5...",buildings,46
2,garage,175817077,1899639024,"MULTIPOLYGON (((5.82934 60.58954, 5.82936 60.5...",buildings,46
3,farm,175821104,1899639026,"MULTIPOLYGON (((6.01209 60.55546, 6.01217 60.5...",buildings,46
4,semidetached_house,175817107,1899639028,"MULTIPOLYGON (((5.82831 60.58937, 5.82838 60.5...",buildings,46

### View data using DuckDB

In [6]:
path = "az://raw/release/2025-10-27.8/datset=osm/theme=buildings/region=34/*.parquet"

db_context = create_duckdb_context()
df = db_context.execute(f"""
SELECT * FROM '{path}'
""").fetchdf()

In [7]:
df.head()

,type,ref:bygningsnr,id,geometry,bbox,datset,region,theme
0,school,300681410,52578874,"[5, 4, 0, 0, 0, 0, 0, 0, 118, 108, 39, 65, 182...","{'xmin': 10.4639806, 'ymin': 61.1325323, 'xmax...",osm,34,buildings
1,sports_centre,13778086,56575688,"[5, 4, 0, 0, 0, 0, 0, 0, 46, 152, 49, 65, 244,...","{'xmin': 11.099654, 'ymin': 60.791947, 'xmax':...",osm,34,buildings
2,sports_centre,7224745,58465580,"[5, 4, 0, 0, 0, 0, 0, 0, 232, 98, 53, 65, 116,...","{'xmin': 11.3366477, 'ymin': 60.8178282, 'xmax...",osm,34,buildings
3,retail,20437928,67305952,"[5, 4, 0, 0, 0, 0, 0, 0, 123, 174, 42, 65, 34,...","{'xmin': 10.6675984, 'ymin': 60.7862631, 'xmax...",osm,34,buildings
4,farm,140325082,67815114,"[5, 4, 0, 0, 0, 0, 0, 0, 148, 249, 39, 65, 70,...","{'xmin': 10.498433, 'ymin': 60.3869887, 'xmax'...",osm,34,buildings