In [6]:
import geopandas as gpd
from src import Config

In [7]:
RELEASE = "2025-10-25.2"
part_0 = f"az://raw/osm/release/{RELEASE}/theme=buildings/region=46/part_00000.parquet"
part_1 = f"az://raw/osm/release/{RELEASE}/theme=buildings/region=46/part_00001.parquet"
parquet_paths: list[str] = [part_0, part_1]

In [8]:
gdf_part_0 = gpd.read_parquet(
    part_0,
    storage_options={
        "connection_string": Config.BLOB_STORAGE_CONNECTION_STRING
    }
)

gdf_part_1 = gpd.read_parquet(
    part_1,
    storage_options={
        "connection_string": Config.BLOB_STORAGE_CONNECTION_STRING
    }
)

In [9]:
gdf_part_0.head()

,type,ref:bygningsnr,id,geometry,theme,region
0,warehouse,173892403,8292478,"MULTIPOLYGON (((5.25761 59.81987, 5.25774 59.8...",buildings,46
1,cabin,17874764,8295912,"MULTIPOLYGON (((5.26926 59.52207, 5.26937 59.5...",buildings,46
2,cabin,9609636,8295920,"MULTIPOLYGON (((5.26944 59.5217, 5.26948 59.52...",buildings,46
3,unspecified,None,8331410,"MULTIPOLYGON (((5.01778 60.81271, 5.01825 60.8...",buildings,46
4,unspecified,None,8331414,"MULTIPOLYGON (((5.01786 60.81342, 5.01872 60.8...",buildings,46

In [10]:
gdf_part_1.head()

,type,ref:bygningsnr,id,geometry,theme,region
0,cabin,175821082,1899639020,"MULTIPOLYGON (((6.01193 60.55379, 6.01201 60.5...",buildings,46
1,house,175817085,1899639022,"MULTIPOLYGON (((5.82983 60.58963, 5.82984 60.5...",buildings,46
2,garage,175817077,1899639024,"MULTIPOLYGON (((5.82934 60.58954, 5.82936 60.5...",buildings,46
3,farm,175821104,1899639026,"MULTIPOLYGON (((6.01209 60.55546, 6.01217 60.5...",buildings,46
4,semidetached_house,175817107,1899639028,"MULTIPOLYGON (((5.82831 60.58937, 5.82838 60.5...",buildings,46