In [8]:
import pandas as pd
from shapely import from_wkb
import geopandas as gpd

from src import Config
from src.infra.persistence.context import create_duckdb_context

In [9]:
db = create_duckdb_context()
LIMIT = 10_000_000

osm_release_1 = "az://raw/release/2025-10-27.19/dataset=osm/theme=buildings/region=*/*.parquet"
osm_release_2 = "az://raw/release/2025-11-12.0/dataset=osm/theme=buildings/region=*/*.parquet"

### Count rows in each dataset

In [10]:
db.sql(
    f"""
    CREATE OR REPLACE TABLE osm_release_count_1 AS (
        SELECT 'osm_release_1' AS name, COUNT(*) AS count FROM read_parquet('{osm_release_1}')
    );

    CREATE OR REPLACE TABLE osm_release_count_2 AS (
        SELECT 'osm_release_2' AS name, COUNT(*) AS count FROM read_parquet('{osm_release_2}')
    );

    SELECT * FROM osm_release_count_1
    UNION
    SELECT * FROM osm_release_count_2
    ORDER BY name;
    """
).show()

┌───────────────┬─────────┐
│     name      │  count  │
│    varchar    │  int64  │
├───────────────┼─────────┤
│ osm_release_1 │ 4163561 │
│ osm_release_2 │ 4163473 │
└───────────────┴─────────┘

### Describe columns and view columns

In [11]:
db.sql(f"DESCRIBE SELECT * FROM '{osm_release_2}'").show()

┌────────────────┬────────────────────────────────────────────────────────────┬─────────┬─────────┬─────────┬─────────┐
│  column_name   │                        column_type                         │  null   │   key   │ default │  extra  │
│    varchar     │                          varchar                           │ varchar │ varchar │ varchar │ varchar │
├────────────────┼────────────────────────────────────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ type           │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ ref:bygningsnr │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ id             │ BIGINT                                                     │ YES     │ NULL    │ NULL    │ NULL    │
│ geometry       │ GEOMETRY                                                   │ YES     │ NULL    │ NULL    │ NULL    │
│ partition_key  │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ bbox           │ STRUCT(xmin DOUBLE, ymin DOUBLE, xmax DOUBLE, ymax DOUBLE) │ YES     │ NULL    │ NULL    │ NULL    │
│ dataset        │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ region         │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ theme          │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
└────────────────┴────────────────────────────────────────────────────────────┴─────────┴─────────┴─────────┴─────────┘

In [12]:
db.sql(
    f'''
    SELECT 'Non-null' as name, SUM(CASE WHEN "ref:bygningsnr" IS NOT NULL THEN 1 ELSE 0 END) as count FROM '{osm_release_2}'
    UNION ALL
    SELECT 'Null' as name, SUM(CASE WHEN "ref:bygningsnr" IS NULL THEN 1 ELSE 0 END) as count FROM '{osm_release_2}'
    '''
).show()

┌──────────┬─────────┐
│   name   │  count  │
│ varchar  │ int128  │
├──────────┼─────────┤
│ Non-null │ 3980028 │
│ Null     │  183445 │
└──────────┴─────────┘

In [13]:
osm_preview = db.execute(f"SELECT * FROM '{osm_release_2}' LIMIT 10").fetchdf()
osm_preview

,type,ref:bygningsnr,id,geometry,partition_key,bbox,dataset,region,theme
0,unspecified,81410631,8737738,"[5, 4, 0, 0, 0, 0, 0, 0, 116, 188, 43, 65, 4, ...",u4x,"{'xmin': 10.7335099, 'ymin': 59.9140781, 'xmax...",osm,03,buildings
1,commercial,80753756,8781748,"[5, 4, 0, 0, 0, 0, 0, 0, 240, 14, 44, 65, 48, ...",u4x,"{'xmin': 10.7536473, 'ymin': 59.9113187, 'xmax...",osm,03,buildings
2,train_station,None,8781750,"[5, 4, 0, 0, 0, 0, 0, 0, 152, 4, 44, 65, 202, ...",u4x,"{'xmin': 10.7511223, 'ymin': 59.9099536, 'xmax...",osm,03,buildings
3,unspecified,81433453,8789076,"[5, 4, 0, 0, 0, 0, 0, 0, 228, 244, 43, 65, 90,...",u4x,"{'xmin': 10.7472885, 'ymin': 59.9085476, 'xmax...",osm,03,buildings
4,office,81066884,8969088,"[5, 4, 0, 0, 0, 0, 0, 0, 233, 180, 46, 65, 36,...",u4x,"{'xmin': 10.919168, 'ymin': 59.940569, 'xmax':...",osm,03,buildings
5,transportation,81042020,9515420,"[5, 4, 0, 0, 0, 0, 0, 0, 218, 19, 44, 65, 225,...",u4x,"{'xmin': 10.7548475, 'ymin': 59.9110183, 'xmax...",osm,03,buildings
6,university,81410208,10008720,"[5, 4, 0, 0, 0, 0, 0, 0, 86, 188, 43, 65, 60, ...",u4x,"{'xmin': 10.7334811, 'ymin': 59.9152681, 'xmax...",osm,03,buildings
7,university,80487835,10008732,"[5, 4, 0, 0, 0, 0, 0, 0, 56, 193, 43, 65, 45, ...",u4x,"{'xmin': 10.7346732, 'ymin': 59.9152116, 'xmax...",osm,03,buildings
8,church,80259069,10021678,"[5, 4, 0, 0, 0, 0, 0, 0, 165, 139, 46, 65, 220...",u4x,"{'xmin': 10.9090938, 'ymin': 59.9442016, 'xmax...",osm,03,buildings
9,university,81166838,10023894,"[5, 4, 0, 0, 0, 0, 0, 0, 10, 127, 43, 65, 239,...",u4x,"{'xmin': 10.7185158, 'ymin': 59.938414, 'xmax'...",osm,03,buildings

### Merge merge OSM datasets between releases
#### Comparing geometries with `CROSS JOIN`
Not feasible as there are too many geometires
```
db.execute(
    f'''
    CREATE OR REPLACE TABLE old_release AS (
        SELECT
            id,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            ST_Normalize(ST_Force2D(ST_Simplify(geometry, 0.0000449))) AS geom
        FROM '{osm_release_1}'
    );

    CREATE OR REPLACE TABLE new_release AS (
        SELECT
            id,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            ST_Normalize(ST_Force2D(ST_Simplify(geometry, 0.0000449))) AS geom
        FROM '{osm_release_2}'
    );

    SELECT DISTINCT
        COALESCE(new_release.id, old_release.id) AS id,
        old_release.id as old_id,
        new_release.id as new_id,
        old_release.geom as old_geom,
        new_release.geom as new_geom
    FROM old_release, new_release
    WHERE NOT ST_Equals(old_geom, new_geom)
    '''
)
```

#### Compare geometries by finding similar centroids
- The method below does not include buildings that have been added in the new release

```
compare_centroids_df = db.execute(
    f'''
    WITH old_release AS (
        SELECT
            id,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_1}'
        LIMIT {LIMIT}
    ),
    new_release AS (
        SELECT
            id,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_2}'
        LIMIT {LIMIT}
    ),
    overlapping_buildings AS (
        SELECT
            o.id AS old_id,
            n.id AS new_id,
            ST_AsWKB(o.geom) AS old_geom,
            ST_AsWKB(n.geom) AS new_geom,
            COALESCE(n.building_id, o.building_id) AS building_id,
            ST_Area(ST_Intersection(o.geom, n.geom)) / ST_Area(ST_Union(o.geom, n.geom)) AS iou
        FROM old_release o
        JOIN new_release n ON o.grid_x = n.grid_x AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.geom, n.geom)
        AND NOT ST_Equals(o.geom, n.geom)
    ),
    changed_buildings AS (
        SELECT * FROM overlapping_buildings WHERE iou > 0.90
    )

    SELECT * FROM changed_buildings;
    '''
).fetchdf()
```

#### Find geometries that have been added in the new release, but wasn't there in the old one
- This runs in 20 - 30 minutes for the entire OSM dataset

In [15]:
osm_diff_df = db.execute(
    f'''
    WITH old_release AS (
        SELECT
            id AS old_id,
            ST_Force2D(geometry) AS old_geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_1}'
        LIMIT {LIMIT}
    ),

    new_release AS (
        SELECT
            id AS new_id,
            ST_Force2D(geometry) AS new_geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_2}'
        LIMIT {LIMIT}
    ),

    overlapping_buildings AS (
        SELECT
            o.old_id AS old_id,
            n.new_id AS new_id,
            ST_AsWKB(o.old_geom) AS old_geom,
            ST_AsWKB(n.new_geom) AS new_geom,
            COALESCE(n.building_id, o.building_id) AS building_id,
            ST_Area(ST_Intersection(o.old_geom, n.new_geom)) / ST_Area(ST_Union(o.old_geom, n.new_geom)) AS iou
        FROM old_release o
        JOIN new_release n
          ON o.grid_x = n.grid_x AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.old_geom, n.new_geom)
          AND NOT ST_Equals(o.old_geom, n.new_geom)
    ),

    deduplicated_buildings AS (
        SELECT
            old_id,
            new_id,
            old_geom,
            new_geom,
            building_id,
            iou,
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY round(iou, {Config.IOU_ROUNDING_DECIMALS}) ORDER BY new_id DESC) AS row_number
            FROM overlapping_buildings
        )
        WHERE row_number = 1
    ),

    changed_buildings AS (
        SELECT * FROM deduplicated_buildings
        WHERE iou > 0.90
    ),

    candidate_matches AS (
        SELECT
            o.old_id AS old_id,
            n.new_id AS new_id,
            ST_Area(ST_Intersection(o.old_geom, n.new_geom)) / ST_Area(ST_Union(o.old_geom, n.new_geom)) AS iou
        FROM old_release o
        JOIN new_release n
          ON o.grid_x = n.grid_x
         AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.old_geom, n.new_geom)
    ),

    best_match AS (
        SELECT *
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY new_id ORDER BY iou DESC) AS row_number
            FROM candidate_matches
        )
        WHERE row_number = 1
    ),

    added_buildings AS (
        SELECT
            NULL AS old_id,
            n.new_id AS new_id,
            NULL AS old_geom,
            ST_AsWKB(n.new_geom) AS new_geom,
            n.building_id AS building_id,
            NULL AS iou
        FROM new_release n
        LEFT JOIN best_match b ON n.new_id = b.new_id
        WHERE b.iou IS NULL OR b.iou < 0.90
    )

    SELECT * FROM changed_buildings
    UNION ALL
    SELECT * FROM added_buildings;
    '''
).fetchdf()

In [16]:
osm_diff_df["old_geom"] = osm_diff_df["old_geom"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g
)
osm_diff_df["new_geom"] = osm_diff_df["new_geom"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g
)

In [17]:
osm_diff_df["old_geom"] = osm_diff_df["old_geom"].apply(lambda g: from_wkb(g) if not pd.isna(g) else None)
osm_diff_df["new_geom"] = osm_diff_df["new_geom"].apply(lambda g: from_wkb(g) if not pd.isna(g) else None)

In [18]:
print("Number of matches:", osm_diff_df.shape[0])
print(f"Number of new buildings added:", osm_diff_df["old_id"].isna().sum())
osm_diff_df.head()

Number of matches: 169
Number of new buildings added: 73

,old_id,new_id,old_geom,new_geom,building_id,iou
0,2610404096,2610404096,"MULTIPOLYGON (((10.9558616 59.9226028, 10.9558...","MULTIPOLYGON (((10.9558616 59.9226028, 10.9558...",<NA>,0.990320
1,619851190,619851190,"MULTIPOLYGON (((10.689061 59.4631605, 10.68911...","MULTIPOLYGON (((10.689061 59.4631605, 10.68928...",300660407,0.999928
2,463596804,463596804,"MULTIPOLYGON (((10.691324 59.458963, 10.691397...","MULTIPOLYGON (((10.691324 59.458963, 10.691397...",145661358,0.999023
3,2066586236,2066586236,"MULTIPOLYGON (((10.6308458 59.9131769, 10.6308...","MULTIPOLYGON (((10.6308458 59.9131769, 10.6308...",18572338,0.999976
4,744553906,1951656038,"MULTIPOLYGON (((10.7757037 59.3627137, 10.7760...","MULTIPOLYGON (((10.775699 59.3627161, 10.77600...",6516742,0.965423

### Save files

In [19]:
diff_and_new_entries_old_df = osm_diff_df[osm_diff_df["old_geom"].notna()]
diff_and_new_entries_new_df = osm_diff_df[osm_diff_df["new_geom"].notna()]

In [20]:
diff_and_new_entries_old = gpd.GeoDataFrame(
    diff_and_new_entries_old_df[["old_id", "new_id", "building_id", "iou", "old_geom"]],
    geometry="old_geom", crs="EPSG:4326"
)

diff_and_new_entries_new = gpd.GeoDataFrame(
    diff_and_new_entries_new_df[["old_id", "new_id", "building_id", "iou", "new_geom"]],
    geometry="new_geom", crs="EPSG:4326"
)

In [21]:
diff_and_new_entries_old.to_parquet("diff_and_new_old.parquet", schema_version="1.1.0")
diff_and_new_entries_new.to_parquet("diff_and_new_new.parquet", schema_version="1.1.0")