In [75]:
import pandas as pd
from shapely import from_wkb
import geopandas as gpd

from src import Config
from src.infra.persistence.context import create_duckdb_context

In [76]:
db = create_duckdb_context()
LIMIT = 100_000_000

osm_release_1 = "az://raw/release/2025-10-27.19/dataset=osm/theme=buildings/region=*/*.parquet"
osm_release_2 = "az://raw/release/2025-11-12.0/dataset=osm/theme=buildings/region=*/*.parquet"

### Count rows in each dataset

In [77]:
db.sql(
    f"""
    CREATE OR REPLACE TABLE osm_release_count_1 AS (
        SELECT 'osm_release_1' AS name, COUNT(*) AS count FROM read_parquet('{osm_release_1}')
    );

    CREATE OR REPLACE TABLE osm_release_count_2 AS (
        SELECT 'osm_release_2' AS name, COUNT(*) AS count FROM read_parquet('{osm_release_2}')
    );

    SELECT * FROM osm_release_count_1
    UNION
    SELECT * FROM osm_release_count_2
    ORDER BY name;
    """
).show()

┌───────────────┬─────────┐
│     name      │  count  │
│    varchar    │  int64  │
├───────────────┼─────────┤
│ osm_release_1 │ 4163561 │
│ osm_release_2 │ 4163473 │
└───────────────┴─────────┘

### Describe columns and view columns

In [78]:
db.sql(f"DESCRIBE SELECT * FROM '{osm_release_2}'").show()

┌────────────────┬────────────────────────────────────────────────────────────┬─────────┬─────────┬─────────┬─────────┐
│  column_name   │                        column_type                         │  null   │   key   │ default │  extra  │
│    varchar     │                          varchar                           │ varchar │ varchar │ varchar │ varchar │
├────────────────┼────────────────────────────────────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ type           │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ ref:bygningsnr │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ id             │ BIGINT                                                     │ YES     │ NULL    │ NULL    │ NULL    │
│ geometry       │ GEOMETRY                                                   │ YES     │ NULL    │ NULL    │ NULL    │
│ partition_key  │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ bbox           │ STRUCT(xmin DOUBLE, ymin DOUBLE, xmax DOUBLE, ymax DOUBLE) │ YES     │ NULL    │ NULL    │ NULL    │
│ dataset        │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ region         │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
│ theme          │ VARCHAR                                                    │ YES     │ NULL    │ NULL    │ NULL    │
└────────────────┴────────────────────────────────────────────────────────────┴─────────┴─────────┴─────────┴─────────┘

In [79]:
db.sql(
    f'''
    SELECT 'Non-null' as name, SUM(CASE WHEN "ref:bygningsnr" IS NOT NULL THEN 1 ELSE 0 END) as count FROM '{osm_release_2}'
    UNION ALL
    SELECT 'Null' as name, SUM(CASE WHEN "ref:bygningsnr" IS NULL THEN 1 ELSE 0 END) as count FROM '{osm_release_2}'
    '''
).show()

┌──────────┬─────────┐
│   name   │  count  │
│ varchar  │ int128  │
├──────────┼─────────┤
│ Non-null │ 3980028 │
│ Null     │  183445 │
└──────────┴─────────┘

In [80]:
osm_preview = db.execute(f"SELECT * FROM '{osm_release_2}' LIMIT 10").fetchdf()
osm_preview

,type,ref:bygningsnr,id,geometry,partition_key,bbox,dataset,region,theme
0,unspecified,81410631,8737738,"[5, 4, 0, 0, 0, 0, 0, 0, 116, 188, 43, 65, 4, ...",u4x,"{'xmin': 10.7335099, 'ymin': 59.9140781, 'xmax...",osm,03,buildings
1,commercial,80753756,8781748,"[5, 4, 0, 0, 0, 0, 0, 0, 240, 14, 44, 65, 48, ...",u4x,"{'xmin': 10.7536473, 'ymin': 59.9113187, 'xmax...",osm,03,buildings
2,train_station,None,8781750,"[5, 4, 0, 0, 0, 0, 0, 0, 152, 4, 44, 65, 202, ...",u4x,"{'xmin': 10.7511223, 'ymin': 59.9099536, 'xmax...",osm,03,buildings
3,unspecified,81433453,8789076,"[5, 4, 0, 0, 0, 0, 0, 0, 228, 244, 43, 65, 90,...",u4x,"{'xmin': 10.7472885, 'ymin': 59.9085476, 'xmax...",osm,03,buildings
4,office,81066884,8969088,"[5, 4, 0, 0, 0, 0, 0, 0, 233, 180, 46, 65, 36,...",u4x,"{'xmin': 10.919168, 'ymin': 59.940569, 'xmax':...",osm,03,buildings
5,transportation,81042020,9515420,"[5, 4, 0, 0, 0, 0, 0, 0, 218, 19, 44, 65, 225,...",u4x,"{'xmin': 10.7548475, 'ymin': 59.9110183, 'xmax...",osm,03,buildings
6,university,81410208,10008720,"[5, 4, 0, 0, 0, 0, 0, 0, 86, 188, 43, 65, 60, ...",u4x,"{'xmin': 10.7334811, 'ymin': 59.9152681, 'xmax...",osm,03,buildings
7,university,80487835,10008732,"[5, 4, 0, 0, 0, 0, 0, 0, 56, 193, 43, 65, 45, ...",u4x,"{'xmin': 10.7346732, 'ymin': 59.9152116, 'xmax...",osm,03,buildings
8,church,80259069,10021678,"[5, 4, 0, 0, 0, 0, 0, 0, 165, 139, 46, 65, 220...",u4x,"{'xmin': 10.9090938, 'ymin': 59.9442016, 'xmax...",osm,03,buildings
9,university,81166838,10023894,"[5, 4, 0, 0, 0, 0, 0, 0, 10, 127, 43, 65, 239,...",u4x,"{'xmin': 10.7185158, 'ymin': 59.938414, 'xmax'...",osm,03,buildings

### Merge merge OSM datasets between releases
#### Comparing geometries with `CROSS JOIN`
Not feasible as there are too many geometires
```
db.execute(
    f'''
    CREATE OR REPLACE TABLE old_release AS (
        SELECT
            id,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            ST_Normalize(ST_Force2D(ST_Simplify(geometry, 0.0000449))) AS geom
        FROM '{osm_release_1}'
    );

    CREATE OR REPLACE TABLE new_release AS (
        SELECT
            id,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            ST_Normalize(ST_Force2D(ST_Simplify(geometry, 0.0000449))) AS geom
        FROM '{osm_release_2}'
    );

    SELECT DISTINCT
        COALESCE(new_release.id, old_release.id) AS id,
        old_release.id as old_id,
        new_release.id as new_id,
        old_release.geom as old_geom,
        new_release.geom as new_geom
    FROM old_release, new_release
    WHERE NOT ST_Equals(old_geom, new_geom)
    '''
)
```

#### Compare geometries by finding similar centroids
- The method below does not include buildings that have been added in the new release

```
compare_centroids_df = db.execute(
    f'''
    WITH old_release AS (
        SELECT
            id,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_1}'
        LIMIT {LIMIT}
    ),
    new_release AS (
        SELECT
            id,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_2}'
        LIMIT {LIMIT}
    ),
    overlapping_buildings AS (
        SELECT
            o.id AS old_id,
            n.id AS new_id,
            ST_AsWKB(o.geom) AS old_geom,
            ST_AsWKB(n.geom) AS new_geom,
            COALESCE(n.building_id, o.building_id) AS building_id,
            ST_Area(ST_Intersection(o.geom, n.geom)) / ST_Area(ST_Union(o.geom, n.geom)) AS iou
        FROM old_release o
        JOIN new_release n ON o.grid_x = n.grid_x AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.geom, n.geom)
        AND NOT ST_Equals(o.geom, n.geom)
    ),
    changed_buildings AS (
        SELECT * FROM overlapping_buildings WHERE iou > 0.90
    )

    SELECT * FROM changed_buildings;
    '''
).fetchdf()
```

#### Find geometries that have been added in the new release, but wasn't there in the old one
- This runs in 20 - 30 minutes for the entire OSM dataset

In [81]:
query = f'''
    WITH old_release AS (
        SELECT
            id AS old_id,
            ST_Force2D(geometry) AS old_geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_1}'
        LIMIT {LIMIT}
    ),

    new_release AS (
        SELECT
            id AS new_id,
            ST_Force2D(geometry) AS new_geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
            ST_Area(geometry) AS area
        FROM '{osm_release_2}'
        LIMIT {LIMIT}
    ),

    overlapping_buildings AS (
        SELECT
            o.old_id AS old_id,
            n.new_id AS new_id,
            ST_AsWKB(o.old_geom) AS old_geom,
            ST_AsWKB(n.new_geom) AS new_geom,
            COALESCE(n.building_id, o.building_id) AS building_id,
            ST_Area(ST_Intersection(o.old_geom, n.new_geom)) / ST_Area(ST_Union(o.old_geom, n.new_geom)) AS iou
        FROM old_release o
        JOIN new_release n
          ON o.grid_x = n.grid_x AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.old_geom, n.new_geom)
          AND NOT ST_Equals(o.old_geom, n.new_geom)
    ),

    deduplicated_buildings AS (
        SELECT
            old_id,
            new_id,
            old_geom,
            new_geom,
            building_id,
            iou,
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY round(iou, {Config.IOU_ROUNDING_DECIMALS}) ORDER BY new_id DESC) AS row_number
            FROM overlapping_buildings
        )
        WHERE row_number = 1
    ),

    changed_buildings AS (
        SELECT * FROM deduplicated_buildings
        WHERE iou > 0.90
    ),

    candidate_matches AS (
        SELECT
            o.old_id AS old_id,
            n.new_id AS new_id,
            ST_Area(ST_Intersection(o.old_geom, n.new_geom)) / ST_Area(ST_Union(o.old_geom, n.new_geom)) AS iou
        FROM old_release o
        JOIN new_release n
          ON o.grid_x = n.grid_x
         AND o.grid_y = n.grid_y
        WHERE ST_Intersects(o.old_geom, n.new_geom)
    ),

    best_match AS (
        SELECT *
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY new_id ORDER BY iou DESC) AS row_number
            FROM candidate_matches
        )
        WHERE row_number = 1
    ),

    added_buildings AS (
        SELECT
            NULL AS old_id,
            n.new_id AS new_id,
            NULL AS old_geom,
            ST_AsWKB(n.new_geom) AS new_geom,
            n.building_id AS building_id,
            NULL AS iou
        FROM new_release n
        LEFT JOIN best_match b ON n.new_id = b.new_id
        WHERE b.iou IS NULL OR b.iou < 0.90
    )

    SELECT * FROM changed_buildings
    UNION ALL
    SELECT * FROM added_buildings;
    '''

In [82]:
osm_diff_df = db.execute(query).fetchdf()

In [83]:
osm_diff_df["old_geom"] = osm_diff_df["old_geom"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g
)
osm_diff_df["new_geom"] = osm_diff_df["new_geom"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g
)

In [84]:
osm_diff_df["old_geom"] = osm_diff_df["old_geom"].apply(lambda g: from_wkb(g) if not pd.isna(g) else None)
osm_diff_df["new_geom"] = osm_diff_df["new_geom"].apply(lambda g: from_wkb(g) if not pd.isna(g) else None)

In [85]:
print("Number of matches:", osm_diff_df.shape[0])
print(f"Number of new buildings added:", osm_diff_df["old_id"].isna().sum())
osm_diff_df.head()

Number of matches: 169
Number of new buildings added: 73

,old_id,new_id,old_geom,new_geom,building_id,iou
0,1482644412,1835054882,"MULTIPOLYGON (((8.5510942 58.3267201, 8.551343...","MULTIPOLYGON (((8.5510883 58.3267238, 8.551334...",18870231,0.929065
1,179263722,179263722,"MULTIPOLYGON (((11.0479856 59.9680745, 11.0482...","MULTIPOLYGON (((11.0479856 59.9680745, 11.0482...",6879543,0.999931
2,32507535,56081036,"MULTIPOLYGON (((5.738607 58.853286, 5.738796 5...","MULTIPOLYGON (((5.738607 58.853286, 5.738796 5...",<NA>,0.914468
3,1540887900,2071137592,"MULTIPOLYGON (((10.4294137 61.2341266, 10.4294...","MULTIPOLYGON (((10.4294148 61.2341317, 10.4294...",7471750,0.914553
4,841448100,841448100,"MULTIPOLYGON (((10.205433 59.744361, 10.205607...","MULTIPOLYGON (((10.205433 59.744361, 10.205607...",158487411,0.999940

### Attempt joins as a filtering method

In [86]:
query = f'''
    WITH old_release AS (
        SELECT
            id,
            bbox,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
        FROM '{osm_release_1}'
        LIMIT {LIMIT}
    ),

    new_release AS (
        SELECT
            id,
            bbox,
            ST_Force2D(geometry) AS geom,
            TRY_CAST("ref:bygningsnr" AS INTEGER) AS building_id,
            CAST(FLOOR(ST_X(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_x,
            CAST(FLOOR(ST_Y(ST_Centroid(geometry)) * 100) AS INTEGER) AS grid_y,
        FROM '{osm_release_2}'
        LIMIT {LIMIT}
    ),

    overlapping_buildings AS (
        SELECT
            o.id AS old_id,
            n.id AS new_id,
            COALESCE(n.building_id, o.building_id) AS building_id,
            o.geom AS old_geom,
            n.geom AS new_geom,
            ST_Area(ST_Intersection(o.geom, n.geom)) / ST_Area(ST_Union(o.geom, n.geom)) AS iou,
        FROM old_release o
        JOIN new_release n
            ON o.grid_x = n.grid_x
            AND o.grid_y = n.grid_y
            AND o.bbox.xmax >= n.bbox.xmin
            AND o.bbox.xmin <= n.bbox.xmax
            AND o.bbox.ymax >= n.bbox.ymin
            AND o.bbox.ymin <= n.bbox.ymax
        WHERE ST_Intersects(o.geom, n.geom)
    ),

    highest_iou_matches AS (
        SELECT * FROM (
            SELECT
                *,
                ROW_NUMBER() OVER (PARTITION BY new_id ORDER BY iou DESC) AS row_number
            FROM overlapping_buildings
        )
        WHERE row_number = 1
    ),

    removed_buildings AS (
        SELECT
            o.id AS old_id,
            ob.new_id AS new_id,
            o.building_id AS building_id,
            ST_AsWKB(o.geom) AS geometry,
            NULL AS iou
        FROM old_release o
        LEFT JOIN overlapping_buildings ob ON o.id = ob.old_id
        WHERE ob.old_id IS NULL
    ),

    added_buildings AS (
        SELECT
            ob.old_id AS old_id,
            n.id AS new_id,
            n.building_id AS building_id,
            ST_AsWKB(n.geom) AS geometry,
            NULL AS iou
        FROM new_release n
        LEFT JOIN overlapping_buildings ob ON n.id = ob.new_id
        WHERE ob.new_id IS NULL
    ),

    changed_buildings AS (
        SELECT
            old_id,
            new_id,
            building_id,
            ST_AsWKB(him.new_geom) AS geometry,
            iou
        FROM highest_iou_matches him
        WHERE iou > 0.70 AND iou < 0.99
    ),

    merged AS (
        SELECT * FROM removed_buildings
        UNION
        SELECT * FROM added_buildings
        UNION
        SELECT * FROM changed_buildings
    )

    SELECT * FROM merged
    '''

In [87]:
df = db.execute(query).fetchdf()

In [88]:
df

,old_id,new_id,building_id,geometry,iou
0,451058792,451058792,145661994,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",0.888743
1,2841590770,2841590770,<NA>,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",0.844298
2,2004437262,2004437262,7998287,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",0.917091
3,2746595090,<NA>,<NA>,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
4,2889196188,<NA>,<NA>,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
...,...,...,...,...,...
177,2886840312,<NA>,<NA>,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
178,2890431420,<NA>,<NA>,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
179,<NA>,626872752,171716748,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
180,<NA>,626872748,171716950,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN
181,<NA>,1868708732,160517263,"[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...",NaN

### Save files

In [89]:
diff_and_new_entries_old_df = osm_diff_df[osm_diff_df["old_geom"].notna()]
diff_and_new_entries_new_df = osm_diff_df[osm_diff_df["new_geom"].notna()]

In [90]:
diff_and_new_entries_old = gpd.GeoDataFrame(
    diff_and_new_entries_old_df[["old_id", "new_id", "building_id", "iou", "old_geom"]],
    geometry="old_geom", crs="EPSG:4326"
)

diff_and_new_entries_new = gpd.GeoDataFrame(
    diff_and_new_entries_new_df[["old_id", "new_id", "building_id", "iou", "new_geom"]],
    geometry="new_geom", crs="EPSG:4326"
)

In [91]:
diff_and_new_entries_old.to_parquet("diff_and_new_old.parquet", schema_version="1.1.0")
diff_and_new_entries_new.to_parquet("diff_and_new_new.parquet", schema_version="1.1.0")

In [92]:
added_df = df[df["old_id"].isna()].copy()
added_df["geometry"] = added_df["geometry"].apply(lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g)
added_df["geometry"] = added_df["geometry"].apply(from_wkb)

removed_df = df[df["new_id"].isna()].copy()
removed_df["geometry"] = removed_df["geometry"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g)
removed_df["geometry"] = removed_df["geometry"].apply(from_wkb)

changed_df = df[df["old_id"].notna() & df["new_id"].notna()].copy()
changed_df["geometry"] = changed_df["geometry"].apply(
    lambda g: bytes(g) if isinstance(g, (bytearray, memoryview)) else g)
changed_df["geometry"] = changed_df["geometry"].apply(from_wkb)

In [93]:
added_gdf = gpd.GeoDataFrame(added_df, geometry="geometry", crs="EPSG:4326")
removed_gdf = gpd.GeoDataFrame(removed_df, geometry="geometry", crs="EPSG:4326")
changed_gdf = gpd.GeoDataFrame(changed_df, geometry="geometry", crs="EPSG:4326")

In [94]:
added_gdf.to_parquet("between_releases_added.parquet", schema_version="1.1.0")
removed_gdf.to_parquet("between_releases_removed.parquet", schema_version="1.1.0")
changed_gdf.to_parquet("between_releases_changed.parquet", schema_version="1.1.0")