In [ ]:
import duckdb
import geopandas as gpd
import numpy as np
from shapely import box, from_wkb, wkb

from src import Config

In [ ]:
def decode_geometry(x):
    if isinstance(x, list):
        return from_wkb(bytes(x))
    if isinstance(x, (bytes, bytearray)):
        return from_wkb(x)
    if isinstance(x, str) and x[:4] == "0106":
        return from_wkb(bytes.fromhex(x))
    return None

In [ ]:
minx, miny, maxx, maxy = 5.15, 60.25, 5.45, 60.50
bbox = box(minx, miny, maxx, maxy)

In [ ]:
con = duckdb.connect()
con.install_extension("spatial")
con.load_extension("spatial")

### Explore one partition

In [ ]:
count = con.execute(f"SELECT count(*) FROM '{Config.OSM_BUILDINGS_PARQUET_PATH}'").fetchone()[0]
print(f"There are {count} entries in the Norway OSM-dataset")

In [ ]:
con.execute(f"SELECT geometry FROM read_parquet('{Config.OSM_BUILDINGS_PARQUET_PATH}')").fetchdf()

### Fetch data within Bergen bounding box

In [ ]:
bergen_wkt = "POLYGON((5.15 60.25, 5.45 60.25, 5.45 60.50, 5.15 60.50, 5.15 60.25))"

# Query only features within Bergen bounding box
query = f"""
SELECT * FROM read_parquet('{Config.OSM_BUILDINGS_PARQUET_PATH}')
WHERE ST_Within(
    geometry,
    ST_GeomFromText('{bergen_wkt}')
)
"""

# bergen_df = con.execute(query).fetchdf()

In [ ]:
def safe_load_wkb(x):
    if not isinstance(x, (bytes, bytearray)):
        return None
    try:
        return wkb.loads(bytes(x))
    except Exception:
        return None  # skip invalid geometries

In [ ]:
query = f"""
SELECT *
FROM read_parquet('{Config.OSM_BUILDINGS_PARQUET_PATH}')
LIMIT 1_000_000
"""
df["geometry"] = df["geometry"].apply(safe_load_wkb)

bergen_df = gpd.GeoDataFrame(df, geometry="geometry", crs="EPSG:4326")

### Explore shapes and columns of the dataset

In [14]:
print(f"Shape of dataframe {bergen_df.shape}")

Shape of dataframe (1000000, 1268)

In [15]:
bergen_df.dtypes

building              object
ref:bygningsnr        object
id                     int64
building:levels       object
access                object
                       ...
portal:type           object
levels:underground    object
bbq                   object
developer             object
ref:kulturminneid     object
Length: 1268, dtype: object

#### Find columns that can be removed and remove them

In [16]:
none_columns = [col for col in bergen_df.columns if bergen_df[col].isna().all()]
none_columns.sort()

for col in none_columns:
    print(col)

Layer_1
abandoned:landuse
abandoned:power
abandoned:shop
abandoned:tourism
access:disabled
aerialway:station
appointment
architect:wikipedia
artist:wikidata
artist:wikimedia_commons
artist:wikipedia
basin
bbq
bike_ride
blind
boat:sails
building:floor_area
building:layer
building:prefabricated
building:units
capacity:cargo_bike
capacity:note
closed
communication:Telephone
communication:amateur_radio
communication:amateur_radio:callsign
communication:amateur_radio:repeater:ctcss
communication:amateur_radio:repeater:frequency_out
communication:amateur_radio:repeater:modulation
communication:amateur_radio:repeater:shift
community
community:gender
compensator
construction:leisure
contact:tiktok
contact:tripadvisor
contact:whatsapp
cooling:method
denomination:wikidata
destroyed
developer
diet:dairy_free
diet:fruitarian
diet:healthy
diet:lacto_vegetarian
diet:local
diet:ovo_vegetarian
diet:pescetarian
diet:raw
dispensing
disused:craft
disused:man_made
disused:military
disused:religion
disused:service
door:height
door:width
email_1
exhibit
feeding:for
fitness_station
flag:wikidata
flats
floor:material
food
founded
gender_segregated
guyed
historic:civilization
historic:description
historic:sport
hot_water
hunting_stand
hut_type
intermittent
kitchen
kystverket:information
kystverket:racon_information
language:no
last_checked
levels:underground
light:method
livestock
location:transition
mobile
moved
name:th
name:th-Latn
name:was
nohousenumber
not:operator:wikidata
nudism
observatory:type
old_name:no
openfire
opening_day
opening_hours:reception
operator:email
outdoor
outdoor_seating:comfort
parking_space
passenger_information_display
payment
payment:bankaxess
payment:card
payment:google_pay
payment:invoice
pets_allowed
phone_1
pipeline
planned:building
platforms
police
portal:type
previously
proposed:landuse
reconstruction
ref:anleggsreg
ref:bankorg
ref:bilxtra
ref:bohus
ref:byggtorget
ref:cf
ref:feelgood
ref:hyundai
ref:isuzu
ref:jysk
ref:kulturminneid
ref:mer
ref:mitsubishi
ref:nissan
ref:nobil
ref:nsrq
ref:recharge
ref:renault
ref:subaru
ref:vatin
ref:wigos
ref:xlbygg
removed:amenity
role
ruined:building
sanitary_dump_station
seamark:light:1:period
seamark:light:1:sequence
seamark:light:2:character
seamark:light:2:colour
seamark:light:2:height
seamark:light:2:national_information
seamark:light:2:period
seamark:light:2:range
seamark:light:2:sector_end
seamark:light:2:sector_start
seamark:light:2:sequence
seamark:light:3:character
seamark:light:3:colour
seamark:light:3:height
seamark:light:3:national_information
seamark:light:3:period
seamark:light:3:range
seamark:light:3:sector_end
seamark:light:3:sector_start
seamark:light:3:sequence
seamark:light:4:character
seamark:light:4:colour
seamark:light:4:height
seamark:light:4:national_information
seamark:light:4:period
seamark:light:4:range
seamark:light:4:sector_end
seamark:light:4:sector_start
seamark:light:4:sequence
seamark:light:5:character
seamark:light:5:colour
seamark:light:5:height
seamark:light:5:national_information
seamark:light:5:period
seamark:light:5:range
seamark:light:5:sector_end
seamark:light:5:sector_start
seamark:light:5:sequence
seamark:light:6:character
seamark:light:6:colour
seamark:light:6:height
seamark:light:6:national_information
seamark:light:6:period
seamark:light:6:range
seamark:light:6:sector_end
seamark:light:6:sector_start
seamark:light:6:sequence
seamark:light:7:character
seamark:light:7:colour
seamark:light:7:height
seamark:light:7:national_information
seamark:light:7:period
seamark:light:7:range
seamark:light:7:sector_end
seamark:light:7:sector_start
seamark:light:7:sequence
seamark:light:8:character
seamark:light:8:colour
seamark:light:8:height
seamark:light:8:national_information
seamark:light:8:period
seamark:light:8:range
seamark:light:8:sector_end
seamark:light:8:sector_start
seamark:light:8:sequence
seamark:light:9:character
seamark:light:9:colour
seamark:light:9:height
seamark:light:9:national_information
seamark:light:9:period
seamark:light:9:range
seamark:light:9:sector_end
seamark:light:9:sector_start
seamark:light:9:sequence
seamark:radar_transponder:category
seamark:radar_transponder:group
seamark:radar_transponder:height
seamark:radar_transponder:period
seamark:radar_transponder:range
seamark:radar_transponder:sequence
seamark:radar_transponder:wavelength
seamark:vertical_length
service:bicycle:rental
service:bicycle:second_hand
sleeping
socket:chademo
socket:chademo:output
socket:type2
socket:type2:output
socket:type2_combo
socket:type2_combo:output
source:ele
source:height
source:note
source:power
source:seamark
source_ref:3
static_caravans
stove
table
toilets:number
tower:platforms
usage
vehicle
vending
voltage:primary
voltage:secondary
was:plant:output:electricity
was:plant:source
waste
water_point
water_supply
weather:radiosonde

In [17]:
bergen_df.drop(columns=none_columns, inplace=True)

In [18]:
keep_columns = [
    # Geometry
    "geometry", "geom_wkb", "area",

    # Identifiers
    "id", "osm_id", "osmid", "osm_way_id", "osm_relation_id",
    "ref:bygningsnr", "bygningsnr", "matrikkelnummer",
    "gnr", "bnr",

    # Descriptive
    "building", "name", "amenity", "shop", "office", "tourism",
    "leisure", "man_made", "industrial", "historic",

    # Physical
    "height", "building:levels", "building:levels:underground",

    # Construction
    "year_built", "build_year", "construction_year", "start_date",

    # Optional detail (include only if present)
    "roof:shape", "roof:height", "roof:material", "roof:colour",
    "building:material", "facade_material", "facade_color",
]

# Retain only columns that actually exist in bergen_df
bergen_df = bergen_df[[col for col in keep_columns if col in bergen_df.columns]]
bergen_df

,geometry,area,id,ref:bygningsnr,building,name,amenity,shop,office,tourism,...,building:levels:underground,year_built,build_year,construction_year,start_date,roof:shape,roof:height,roof:material,roof:colour,building:material
0,None,None,8265818,12247613,farm,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,8292478,173892403,warehouse,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,8295912,17874764,cabin,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,8295920,9609636,cabin,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,8302768,9346694,cabin,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,None,None,1595880882,None,yes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
999996,None,None,1595880980,300330908,garages,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
999997,None,None,1595880982,300301030,house,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
999998,None,None,1595880984,171933854,barn,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
999999,None,None,1595883480,11659012,garage,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [19]:
threshold = 0.95
none_ratio = bergen_df.isna().mean()
high_none_columns = none_ratio[none_ratio > threshold].index.tolist()
bergen_df.drop(columns=high_none_columns, inplace=True)
bergen_df

                id ref:bygningsnr   building building:levels
0          8265818       12247613       farm            None
1          8292478      173892403  warehouse            None
2          8295912       17874764      cabin            None
3          8295920        9609636      cabin            None
4          8302768        9346694      cabin            None
...            ...            ...        ...             ...
999995  1595880882           None        yes            None
999996  1595880980      300330908    garages            None
999997  1595880982      300301030      house            None
999998  1595880984      171933854       barn            None
999999  1595883480       11659012     garage            None

[1000000 rows x 4 columns]

In [20]:
types = np.unique(bergen_df["building"].to_numpy())
types

array(['Transformer_building', 'air_to_cable_transition',
       'airplane_mockup', 'airport_tower', 'airstrip_control_tower',
       'allotment_house', 'ambulance_station', 'anchor_block', 'annexe',
       'apartments', 'avalanche_protector', 'bakehouse', 'barn',
       'barracks', 'basilica', 'bell_tower', 'bf', 'bike_shed', 'boat',
       'boat_shed', 'boathouse', 'brewery', 'bridge', 'bungalow',
       'bunker', 'bus_shelter', 'cab', 'cabin', 'cafe', 'canon_house',
       'car_port', 'car_wash', 'caravan', 'carport', 'cathedral',
       'cell_base_station', 'chapel', 'chimney', 'church', 'church_tower',
       'cinema', 'civic', 'clinic', 'club_house', 'collapsed', 'college',
       'commercial', 'concrete_block', 'connector', 'conservatory',
       'construction', 'container', 'contour', 'covered_footbridge',
       'covered_walkway', 'cowshed', 'cultural', 'depot', 'detached',
       'dock', 'dome', 'dormitory', 'elevator_shaft', 'factory', 'farm',
       'farm_auxiliary', 'fire_station', 'foundation', 'garage',
       'garages', 'garbage_shed', 'gasometer', 'gate', 'gate_house',
       'gatehouse', 'gazebo', 'glasshouse', 'glory_spillway',
       'government', 'grandstand', 'greenhouse', 'ground_station', 'gt',
       'guardhouse', 'gym', 'half_torn_down_chimney', 'hangar',
       'historic', 'hospital', 'hotel', 'house', 'hut', 'industrial',
       'jetbridge', 'kindergarten', 'kingdom_hall', 'kiosk', 'lavvo',
       'library', 'lighthouse', 'lighting_tower', 'livestock',
       'lokomotive_shed', 'lookout_tower', 'mall', 'manufacture',
       'military', 'monastery', 'mosque', 'multi_storey_parking',
       'museum', 'no', 'office', 'old_telephone_booth', 'outbuilding',
       'outhouse', 'parking', 'pavilion', 'phone_booth', 'platform',
       'portal', 'power', 'power_plant_outlet', 'power_station', 'prison',
       'public', 'public;castle', 'pump_house', 'pump_station',
       'radar_dome', 'railway_water_tower', 'ramp', 'razed', 'religious',
       'residential', 'restaurant', 'retail', 'riding_hall', 'roof',
       'roundhouse', 'rubber_hall', 'rubber_tent', 'ruin', 'ruins',
       'sauna', 'school', 'semidetached_house', 'service', 'shack',
       'shed', 'shelter', 'ship', 'shrine', 'signal_box', 'silo',
       'skybridge', 'slurry_tank', 'small_lighthouse', 'sports',
       'sports_centre', 'sports_hall', 'stable', 'stadium', 'stage',
       'stairwell', 'static_caravan', 'station', 'storage_tank',
       'student_union', 'sty', 'submarine', 'substation', 'supermarket',
       'swing_bridge_pylon', 'tank', 'technical', 'technical_for_tunnel',
       'telephone_booth', 'telephone_exchange', 'temple', 'tent',
       'terrace', 'theatre', 'toilets', 'tower', 'train_shed',
       'train_station', 'trainshed', 'transformer', 'transformer_kiosk',
       'transformer_tower', 'transportation', 'tribune',
       'tunnel_services', 'tunnel_utilities', 'university', 'utility',
       'valve_control', 'warehouse', 'water_tank', 'water_tower', 'yes'],
      dtype=object)

In [21]:
bergen_df["building"] = bergen_df["building"].replace("yes", "building")
bergen_df

                id ref:bygningsnr   building building:levels
0          8265818       12247613       farm            None
1          8292478      173892403  warehouse            None
2          8295912       17874764      cabin            None
3          8295920        9609636      cabin            None
4          8302768        9346694      cabin            None
...            ...            ...        ...             ...
999995  1595880882           None   building            None
999996  1595880980      300330908    garages            None
999997  1595880982      300301030      house            None
999998  1595880984      171933854       barn            None
999999  1595883480       11659012     garage            None

[1000000 rows x 4 columns]

In [22]:
types = np.unique(bergen_df["building"].to_numpy())
types

array(['Transformer_building', 'air_to_cable_transition',
       'airplane_mockup', 'airport_tower', 'airstrip_control_tower',
       'allotment_house', 'ambulance_station', 'anchor_block', 'annexe',
       'apartments', 'avalanche_protector', 'bakehouse', 'barn',
       'barracks', 'basilica', 'bell_tower', 'bf', 'bike_shed', 'boat',
       'boat_shed', 'boathouse', 'brewery', 'bridge', 'building',
       'bungalow', 'bunker', 'bus_shelter', 'cab', 'cabin', 'cafe',
       'canon_house', 'car_port', 'car_wash', 'caravan', 'carport',
       'cathedral', 'cell_base_station', 'chapel', 'chimney', 'church',
       'church_tower', 'cinema', 'civic', 'clinic', 'club_house',
       'collapsed', 'college', 'commercial', 'concrete_block',
       'connector', 'conservatory', 'construction', 'container',
       'contour', 'covered_footbridge', 'covered_walkway', 'cowshed',
       'cultural', 'depot', 'detached', 'dock', 'dome', 'dormitory',
       'elevator_shaft', 'factory', 'farm', 'farm_auxiliary',
       'fire_station', 'foundation', 'garage', 'garages', 'garbage_shed',
       'gasometer', 'gate', 'gate_house', 'gatehouse', 'gazebo',
       'glasshouse', 'glory_spillway', 'government', 'grandstand',
       'greenhouse', 'ground_station', 'gt', 'guardhouse', 'gym',
       'half_torn_down_chimney', 'hangar', 'historic', 'hospital',
       'hotel', 'house', 'hut', 'industrial', 'jetbridge', 'kindergarten',
       'kingdom_hall', 'kiosk', 'lavvo', 'library', 'lighthouse',
       'lighting_tower', 'livestock', 'lokomotive_shed', 'lookout_tower',
       'mall', 'manufacture', 'military', 'monastery', 'mosque',
       'multi_storey_parking', 'museum', 'no', 'office',
       'old_telephone_booth', 'outbuilding', 'outhouse', 'parking',
       'pavilion', 'phone_booth', 'platform', 'portal', 'power',
       'power_plant_outlet', 'power_station', 'prison', 'public',
       'public;castle', 'pump_house', 'pump_station', 'radar_dome',
       'railway_water_tower', 'ramp', 'razed', 'religious', 'residential',
       'restaurant', 'retail', 'riding_hall', 'roof', 'roundhouse',
       'rubber_hall', 'rubber_tent', 'ruin', 'ruins', 'sauna', 'school',
       'semidetached_house', 'service', 'shack', 'shed', 'shelter',
       'ship', 'shrine', 'signal_box', 'silo', 'skybridge', 'slurry_tank',
       'small_lighthouse', 'sports', 'sports_centre', 'sports_hall',
       'stable', 'stadium', 'stage', 'stairwell', 'static_caravan',
       'station', 'storage_tank', 'student_union', 'sty', 'submarine',
       'substation', 'supermarket', 'swing_bridge_pylon', 'tank',
       'technical', 'technical_for_tunnel', 'telephone_booth',
       'telephone_exchange', 'temple', 'tent', 'terrace', 'theatre',
       'toilets', 'tower', 'train_shed', 'train_station', 'trainshed',
       'transformer', 'transformer_kiosk', 'transformer_tower',
       'transportation', 'tribune', 'tunnel_services', 'tunnel_utilities',
       'university', 'utility', 'valve_control', 'warehouse',
       'water_tank', 'water_tower'], dtype=object)